body{
    background-color: rgb(100, 128, 187);
}
.bannerImg{
    position: relative;
}
.Logo1{
    position: absolute;
    height:100px;
    top: 8px;
    z-index: 1;
    left: 160px;
}
.image1{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    
}
.table2{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 200px;
    
}
.Bold{
    font-weight:bold;
    /* font-size: xx-large; */
}
.contant{
    text-align: center;
    margin-top: 30px;
}
letter{
    font-weight:900;

}
